    body {
      font-family: Arial, sans-serif;
      background-color: #b0adbc;
      margin: 0;
      padding: 0;
    }
    
    .calculator {
      max-width: 400px; /* Adjusted maximum width */
      width: 90%; /* Use percentage for better responsiveness */
      margin: 50px auto;
      border: 1px solid #2c2a2a;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 5px;
    }
    
    .display {
      grid-column: 1 / -1;
      height: 60px;
      border: 1px solid #969494;
      border-radius: 5px;
      text-align: right;
      padding: 10px;
      font-size: 24px;
      background-color: #c0c8cc;
      overflow: auto;
    }
    
    .btn {
      height: 60px;
      font-size: 20px;
      cursor: pointer;
      border-radius: 5px;
      background-color: #e0e0e0;
    }

    .btn:hover {
      background-color:#c2c6e1;
    }

    .btn.math {
      background-color: #c9c9c9;
      color:#1d1b1b;
      font-weight: 500;
    }

    .btn.math:hover {
      background-color: #999999;
    }
  